@import url(https://fonts.googleapis.com/css?family=Lobster)
@import url(https://fonts.googleapis.com/css?family=Raleway)


.carousel-caption {
    position: absolute;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;
}

.absolute-div {
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
}

.carousel-caption h3 {
    display:table-cell;
    vertical-align: middle;
    text-align:center;
}

.item {
    position:relative;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

h1 {
    font-family:Lobster;
}

p {
    font-family:Raleway;
}

html, body {
    padding-top: 20px;
}

[data-role="dynamic-fields"] > .form-inline + .form-inline {
    margin-top: 0.5em;
}

[data-role="dynamic-fields"] > .form-inline [data-role="add"] {
    display: none;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="add"] {
    display: inline-block;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="remove"] {
    display: none;
}

label {
    font-family: Raleway;

}

small {
    font-family: Raleway;

}
