@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Raleway);

.absolute-div {
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
}

.carousel {
    width: auto;
    overflow: hidden;
  }
  
  @media screen and (max-width: 768px) {
    .carousel {
      /* Pushes out the margins on mobile devices so it lines up with the article body. */
      margin-left: -20px !important;
      margin-right: -20px !important;
      width: inherit !important;
    }
  }
  
  .carousel:hover {
    visibility: visible;
    color: white;
  }
  
  .carousel .carousel > .carousel-control {
    visibility: hidden;
  }
  
  .carousel .carousel-control {
    visibility: visible;
    color: white;
  }
  
  .carousel .carousel-inner {
    background-color: #000000;
  }
  
  .carousel .carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    padding-bottom: 0;
  }
  
  .carousel .item img {
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
  }
  
  // added
  
  .carousel .item img {
     max-height: 768px;
     min-width: auto;
   }
  

.nav-link {
    position: relative;
}

.nav-link {
    color: black;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

h1 {
    font-family: Lobster;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: Lobster;
}

h3 {
    text-align: center;
    font-family: Raleway;
    font-size: 1.2em;
}

h4 {
    text-align: center;
    font-family: Raleway;
    font-size: 1em;
}

p {
    font-family: Raleway;
}

html, body {
    padding-top: 1em;
}

[data-role="dynamic-fields"] > .form-inline + .form-inline {
    margin-top: 0.5em;
}

[data-role="dynamic-fields"] > .form-inline [data-role="add"] {
    display: none;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="add"] {
    display: inline-block;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="remove"] {
    display: none;
}

label {
    font-family: Raleway;
}

small {
    font-family: Raleway;
}

.carousel-inner {
    border-radius: 4.3px;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}
